<h2>Shelters</h2>
<hr>
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %><br></p>
  <p><%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %></p>
  <p><%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %></p><hr>
<% end %>

<br>
<p><%= link_to "New Shelter", "/shelters/new" %></p>
