<hr>
<h1>Favorites:</h1>

<hr>
<% @favorites.each do |pet| %>
  <%= image_tag(pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
  <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <hr>
<% end %>
